@charset "utf-8";

#tablahorario
{
	margin-left: 50px;
	background-color: #CBDD9C;
	color: #000000;
	border-color: black;
	font-family: "source-sans-pro";
	font-weight: bold;
	border-style: hidden;
}


/* CSS Document */

