@charset "utf-8";

#titulo1{
	text-align: center; 
	color: #FFCB16; 
	
}

#body
{	
	background: #000000;
	color: #FFFFFF;
	font: normal "source-sans-pro";	
}

#labels
{
	font-size: 20px;
	font-family: "source-sans-pro";
	font-weight: bold;
	margin-left: 50px;
}

#tablahorario
{
	margin-left: 50px;
	background-color: #CBDD9C;
	color: #000000;
	border-color: black;
	font-family: "source-sans-pro";
	font-weight: bold;
	border-style: hidden;
}


/* CSS Document */

