.Listado{  
  background:rgba(154, 187, 170, 0.172);
  border:none;
  color:white;
  font-size: 10pt;
  height: 30px;
  margin-top: 1%;      
  border-radius: 3px;
  padding: 5px;
  text-align: center;
}
.SeccionListado{
  background:rgba(0, 0, 0, 0.227); 
  color: black;
}
.ElementoListado{
  background:rgb(255, 255, 255); 
  color: black;
}

