
		
*{
  margin: 0;
  padding: 0;  
  color: white;
  /* width: 100%; */
}

header{
  height: 50%;
  background: black;
}

body{
  height: 50%;
  font-family: source-sans-pro;
  font-style: normal;
  font-weight: 200;
  background: black; 
  font: normal "source-sans-pro";	
}

.ListaHerramientas{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;         
}

li{
  float: left;
  margin-left: 15%;   
  margin-top: 5%;
  font-size: 20pt;
  text-align: center; 
  color: white;
 

}
img[class = "OpcionImagen"]{
  opacity: 0.5;
  width : 193px; height : 183px; 
  transition: opacity 0.5s;
}
img[class = "OpcionImagen"]:hover {
  opacity: 1;
 
}

footer{
  position: absolute; 
  bottom: 0%; 
  width: 99%;
  background: rgba(133, 133, 193, 0.666);
}

