body{
  background: white;
  /* overflow-x:hidden; */
}

#inputTitulo{
  border-radius: 20px;
  width: 30%;
}
#seleccionarCarrera{
  margin-left: 10px;
}
#titulo1{ 
	text-align: center; 
	color: rgb(204, 220, 242);	
}
#headerSection{ 
  background: rgb(5, 5, 5);
  width: 100%;
}
img[id="logoImagen"]{
  border-radius: 30px;
  width: 125px;  
  height: 125px;
  background: rgba(0, 0, 0, 0);
  padding: 10px;
}

.logoUcabSvg{
  padding-left: 3rem !important;
}

.tituloLogo{
  font-size: 1.8rem;
  font-weight: lighter;
  margin-top: 0px;
}

.arrowLogo{
  float: left;
  margin-top: 5.8px;
  margin-left: -10px;
  margin-right: 20px;
}

button[id = "homeBoton"]:hover{
  color: white;
}
button[id = "homeBoton"]:active{
  color: rgb(253, 245, 182);
}
.Deslizador{
  transition: all 0.8s;
}
.BotonMenuSuperior{  
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: none;
  overflow: visible;
  padding-top: 2px;
  font-size: 23pt;
  color: rgba(255, 255, 255, 0.57);
  outline:none;
  -webkit-user-select: none; /* for button */  
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: all 0.8s;  
}
.DatosHorario{
  background:black;
  color: white;
  transition: all 1s;
}

button[id = "nextBoton"]:hover{
  color: rgb(235, 235, 235);
}
button[id = "nextBoton"]{
  margin-top:1%;
  margin-left: 250px;
}
.SeccionBoton{  
  text-align: center;
  display: none;
  opacity: 0;
  transition: opacity 0.5s;
}
.Herramientas{
  display: flex;
  background: rgb(14, 14, 14);
  height:  0;
  transition: all 0.5s;
}

.BotonNext{ 
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: none;
  overflow: visible;
  padding: 0px;
  font-size: 50pt;
  color: rgba(76, 76, 77, 0.508);
  outline:none;
  -webkit-user-select: none; /* for button */  
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: all 0.8s;  
}

.BotonOptions{ 
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: none;
  overflow: visible;
  padding: 0px;
  font-size: 50pt;
  color: rgba(253, 253, 255, 0.508);
  outline:none;
  -webkit-user-select: none; /* for button */  
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: all 0.8s;  
}

button[id = "quitarMateria"]:hover{
  color: rgb(240, 169, 170);
}
button[id = "horarioVacio"]:hover{
  color: rgb(169, 180, 240);
}
button[id = "guardarMateria"]:hover{
  color: rgb(183, 240, 169);
}
button[id = "guardarHorario"]:hover{
  color: rgb(240, 220, 169);
}

button[id = "quitarMateria"]:active{
  color: rgb(208, 110, 111);
}
button[id = "horarioVacio"]:active{
  color: rgb(109, 122, 198);
}
button[id = "guardarMateria"]:active{
  color: rgb(123, 181, 109);
}
button[id = "guardarHorario"]:active{
  color: rgb(187, 163, 100);
}
#tablahorario{
  width: 90%;
  
}
#contenedorHorario{  
  transition: all 0.4s;
  width: 100%;
  opacity: 0;  
}
#cuerpoTabla{
  height: 0;
}
.CabeceraTabla{
  opacity: 0;
  display: none;
  transition: all 0.5s;
  
}
.Fila{
  transition: all 0.5s;
  opacity: 0;
  display: none;  
}

.fc-title{
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
}

 /* The snackbar - position it at the bottom and in the middle of the screen */
 #snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: rgba(206, 136, 230, 0.844); /* Black background color */
  color: #fff; /* White text color */
  text-align: left; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 12%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
} 

.input-group-prepend{
  margin-bottom: 1px;
}